
/**
 * Grid container
 */
#tiles {
	list-style-type: none;
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;
}
/**
 * 图片墙个体的样式设置 */
#tiles li {
	width: 200px;
/*	background-color: #ffffff;
	border: 1px solid #000;              图片墙个体的边框及背景 */
	display: none; /** Hide items initially to avoid a flicker effect **/
	cursor: pointer;
	padding: 0px; /* 上下图片件间距*/
}
#tiles li img {
	display: block;
}
/**
 * Grid item text
 */
#tiles li p {
	color: #666;
	font-size: 12px;
	margin: 2px 0 0 7px;
}
#tiles li a:link {
	color:#eee;
	text-decoration:none;
}
#tiles li a:hover {
	background:#00aeef;
	color:#eee;
}
#tiles li a:visited {
	color:#eee;
	text-decoration:none;
}
#tiles li a:active {
	color:#eee;
	text-decoration:none;
}

/**
 * Some extra styles to randomize heights of grid items.
 */
#tiles ali:nth-child(3n) {
	height: 175px;
}
#tiles ali:nth-child(4n-3) {
	padding-bottom: 30px;
}
#tiles ali:nth-child(5n) {
	height: 250px;
}
/** 图片墙整体定位大小控制 **/
#main {
	position:relative;
	width:550px;
	left:-30px;
	top: 55px;
}
